<!DOCTYPE html>
<html>
  <head>
    <style>
      #search-input {
        opacity: 0.3;
      }
      #search-input:focus {
        opacity: 1;
      }
    </style>
  </head>
  <body>
    <div class="search-page">
      <div class="search-icon-close-container">
        <span class="search-icon-close">
          <i class="fa fa-chevron-down"></i>
        </span>
      </div>
      <div class="search-main container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <form></form>
            <input type="text" id="search-input" placeholder=" 空不是无，空是一种存在 ">
            </form>
            <div id="search-results" class="mini-post-list"></div>
          </div>
        </div>
      </div>
    </div>
    <script>
      // 获取搜索框元素
      var searchInput = document.getElementById("search-input");

      // 监听焦点事件
      searchInput.addEventListener('focus', function() {
        searchInput.style.opacity = 1;
      });

      // 监听失去焦点事件
      searchInput.addEventListener('blur', function() {
        searchInput.style.opacity = 0.3;
      });

      // 监听键盘事件
      document.addEventListener('keydown', function(event) {
        if (event.keyCode === 27) {
          document.querySelector('.search-page').classList.remove('search-page-open');
        }
      });
    </script>
  </body>
</html>